doctype html
html
	head
		title= title
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css')
		link(rel='stylesheet', href='/css/style.css')

	body
		.container
			.row
				.header.center-align
					h2= title
					img(src='/img/cow.jpg', width=100)

				#add-track.center-align
					form#track-form(onsubmit='return false')
						.input-field
							input#track-input(placeholder='Type an artist or song...', autofocus)
							//- button.waves-effect.waves-light.btn(type='submit') go

			.row
				#music-queue  

		script(type='text/javascript', src='http://code.jquery.com/jquery-1.11.1.js')
		script(type='text/javascript', src='https://cdn.socket.io/socket.io-1.2.0.js')
		script(type='text/javascript', src='https://w.soundcloud.com/player/api.js')
		script(type='text/javascript', src='//connect.soundcloud.com/sdk-2.0.0.js')
		script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js')
		script(type='text/javascript', src='/build/bundle.js')
