.header h2, .header img{
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.header h2 {
	padding-right: 10px;
}

#add-track {
	padding-bottom: 20px;
}
#track-input {
	width: 40%;
	padding: 10px;
}

.widget {
	margin: 0;
	padding: 0;
	border: none;
}