.header h2, .header img{
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.header h2 {
	padding-right: 10px;
}

#user-count {
	padding-right: 20px;
}

#track-input {
	width: 40%;
	padding: 10px;
}

.widget {
	margin: 0;
	padding: 0;
	border: none;
}

.container {
	margin-bottom: 30px;
}

.footer {
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 0;
}